/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

html, body {height: 100%;}

#wrap {min-height: 100%;}

#page {
	overflow:auto;
	padding-bottom: 150px; /* must be same height as the footer */
}  

#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
}


/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IE6 Fix */
* html #wrap {
	display:table;
	height:100%;
}