/* $Id: debug.css,v 1.1.2.2 2011/01/10 21:19:20 dvessel Exp $ */

body.show-grid .container-16 {
  background-image: url(../../img/960gs/16_col.gif);
}
body.show-grid .container-12 {
  background-image: url(../../img/960gs/12_col.gif);
}

body.show-grid .grid-1:hover,
body.show-grid .grid-2:hover,
body.show-grid .grid-3:hover,
body.show-grid .grid-4:hover,
body.show-grid .grid-5:hover,
body.show-grid .grid-6:hover,
body.show-grid .grid-7:hover,
body.show-grid .grid-8:hover,
body.show-grid .grid-9:hover,
body.show-grid .grid-10:hover,
body.show-grid .grid-11:hover,
body.show-grid .grid-12:hover,
body.show-grid .grid-13:hover,
body.show-grid .grid-14:hover,
body.show-grid .grid-15:hover,
body.show-grid .grid-16:hover {
  background-color: rgba(0, 255, 255, .2);
  background-repeat: no-repeat;
  background-position: top right;
  outline: 1px solid #d66;
}

body.show-grid .grid-1:hover {
  background-image: url(../../img/960gs/grid_count/1.png);
}
body.show-grid .grid-2:hover {
  background-image: url(../../img/960gs/grid_count/2.png);
}
body.show-grid .grid-3:hover {
  background-image: url(../../img/960gs/grid_count/3.png);
}
body.show-grid .grid-4:hover {
  background-image: url(../../img/960gs/grid_count/4.png);
}
body.show-grid .grid-5:hover {
  background-image: url(../../img/960gs/grid_count/5.png);
}
body.show-grid .grid-6:hover {
  background-image: url(../../img/960gs/grid_count/6.png);
}
body.show-grid .grid-7:hover {
  background-image: url(../../img/960gs/grid_count/7.png);
}
body.show-grid .grid-8:hover {
  background-image: url(../../img/960gs/grid_count/8.png);
}
body.show-grid .grid-9:hover {
  background-image: url(../../img/960gs/grid_count/9.png);
}
body.show-grid .grid-10:hover {
  background-image: url(../../img/960gs/grid_count/10.png);
}
body.show-grid .grid-11:hover {
  background-image: url(../../img/960gs/grid_count/11.png);
}
body.show-grid .grid-12:hover {
  background-image: url(../../img/960gs/grid_count/12.png);
}
body.show-grid .grid-13:hover {
  background-image: url(../../img/960gs/grid_count/13.png);
}
body.show-grid .grid-14:hover {
  background-image: url(../../img/960gs/grid_count/14.png);
}
body.show-grid .grid-15:hover {
  background-image: url(../../img/960gs/grid_count/15.png);
}
body.show-grid .grid-16:hover {
  background-image: url(../../img/960gs/grid_count/16.png);
}
